@font-face {
    font-family: 'MyNerve';
    src: URL('../MyNerve.ttf') format('truetype');
}

html {
  background-image: url("../img/collage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Old newspaper font", sans-serif;
  height: 100%;

}

a {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(22, 46, 185);
}

.photo {
    z-index: 10;
    position: absolute;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}

/* animation: rotate back forth 3 degrees */
@keyframes rotate {
    0% {
      transform: rotate(-1deg);
    }
    30% {
      transform: rotate(1deg);
    }
    60% {
      transform: rotate(-1deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.photo:hover {
    /* quick animation, no repeat */
    animation: rotate .3s linear;
  }

.cutout {
  padding: 24px;
  background: white;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.relative {
    position: relative;
}

#cutout1 {
  top: 280px;
  left: 45%;
}

#cutout2 {
  top: 380px;
  left: 42%;
}

#cutout-heading {
    /* center absolute positioned element */
    top: 0px;
    left: 35%;
    transform: translate(-50%, -50%);
    /* rotate */
    transform: rotate(-3deg);
    padding: 0px 8px;
    line-height: 32px;
}

#cutout-subheading {
    top: 100px;
    left: 32%;
    transform: translate(-50%, -50%);
    /* rotate */
    transform: rotate(1deg);
    padding: 0px 6px;
    line-height: 12px;
}

#deviantart1 {
  bottom: -30px;
  right: -55px;
  max-width: 100px;
}

#deviantart2 {
  bottom: -80px;
  right: -135px;
  max-width: 140px;
}

#milkmaid {
    left: -200px;
    max-height: 300px;
    top: -100px;
}

h3 {
    font-family: 'MyNerve', sans-serif;
    position: absolute;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.5);
    padding: 4px;
}


#heading-other-art {
    top: 165px;
    left: 40%;
}