@font-face {
    font-family: 'MyNerve';
    src: URL('../MyNerve.ttf') format('truetype');
}

html {
  background: url("../img/collage.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Old newspaper font", sans-serif;
}

body {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(22, 46, 185);
}

a:hover {
    color: rgb(4, 10, 41);
}

.photo {
    z-index: 10;
    position: absolute;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
}

.bg-photo {
  z-index: -1;
  top: 0;
  left: 0;
}

/* animation: rotate back forth 3 degrees */
@keyframes rotate {
    0% {
      transform: rotate(-1deg);
    }
    30% {
      transform: rotate(1deg);
    }
    60% {
      transform: rotate(-1deg);
    }
    100% { 
      transform: rotate(0deg);
    }
  }

.wiggle:hover {
    /* quick animation, no repeat */
    animation: rotate .3s linear;
  }

.cutout {
  padding: 24px 48px;
  background: white;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}

.move-right {
    right: -50px;
}

.move-left {
    left: -50px;
}

.rotate-right {
    transform: rotate(2deg);
}

.rotate-left {
    transform: rotate(-2deg);
}

.minimal-pad {
    padding: 6px;
    line-height: 1;
}

#deviantart1 {
  bottom: -30px;
  right: -55px;
  max-width: 100px;
}

#deviantart2 {
  bottom: -80px;
  right: -135px;
  max-width: 140px;
}

#milkmaid {
    left: -180px;
    max-height: 300px;
    top: -100px;
}

h3 {
    font-family: 'MyNerve', sans-serif;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.5);
    padding: 4px;
    text-align: center;

}

#harrystyles {
  max-width: 120px;
  right: -60px;
  top: -70px;
}

#heart {
  max-height: 100px;
  top: -110px;
  left: 28px;
}

@keyframes heartbeat {
  0% {transform: scale(1);}
  25% {transform: scale(.97);}
  35% {transform: scale(.9);}
  45% {transform: scale(1.1);}
  55% {transform: scale(.9);}
  65% {transform: scale(1.1);}
  75% {transform: scale(1.03);}
  100% {transform: scale(1);}
}

#heart:hover {
  -webkit-animation: heartbeat 2s infinite;
  animation: heartbeat 2s infinite;
}

#miata {
  max-width: 350px;
  left: -320px;
  top: -50px;
}

/* keyframe to rapidly accelerate to the right off-screen */
/* hide the car at the end */

@keyframes drift {
  0% {transform: translateX(0);}
  100% {transform: translateX(100vw); opacity: 0;}
}

#miata:hover {
  -webkit-animation: drift 1s linear;
  animation: drift 1s linear;
}

#kadett {
  max-width: 120px;
  right: -20px;
}

#tulip {
  max-width: 400px;
  right: -500px;
  top: -40px;
}

#erik {
  max-width: 100px;
  right: -90px;
  top: -70px;
}

#piano {
  max-width: 200px;
  right: -200px;
  top: -100px;
}

#house {
  top: -200px;
  left: -50px;
}