/* FEEL FREE TO DELETE */

html {
    background: rgb(188, 183, 255);
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(22, 46, 185);
    margin: 0 12px;
}

/* FEEL FREE TO DELETE */
